<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataraceDataContextConnectionString" connectionString="User Id=root;Password=e*ikl5&amp;0ccpQ;Host=localhost;Database=datarace;Persist Security Info=True; Charset=utf8" />
        <add name="datarace.Properties.Settings.dataraceConnectionString"
            connectionString="server=localhost;user id=root;database=datarace;persistsecurityinfo=True;password=e*ikl5&amp;0ccpQ"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>